@import './decimals';

@mixin bordered($color) {
  border: 1px solid $color;
}

@mixin centeredFlex($type: flex, $ai: center, $jc: center) {
  display: $type;
  align-items: $ai;
  justify-content: $jc;
}

@mixin flex-basis($items, $indent: 32px) {
  flex-basis: calc((100% - $indent * ($items - 1)) / $items);
}

@mixin fonts($fs, $lh, $fw: 500) {
  font-weight: $fw;
  font-size: $fs;
  line-height: decimal-round($lh/$fs);
}
