// Breakpoints
$mobile: 320px;
$to-tablet: 767.98px;
$tablet: 768px;
$to-desktop: 1023.98px;
$desktop: 1024px;

/* fonts */
$font-family: 'Roboto', sans-serif;

/* text-colors */
$color-text-primary: #000000;
$color-white: #ffffff;

/* bg colors */
// $background-white: #fefefe;
